* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* .main-header {
    padding-bottom: 40px;
    
}  */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    
    /* border: 1px solid black; */
    /* background-color: red; */ 
}

.gallery {
    position: relative;
}

button {
    font-size: 40px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.btn-up {
    position: absolute;
    top: 5px;
    right: 0px;
    left: 0px;
    z-index: 100px;
}

.btn-down {
    position: absolute;
    bottom: 5px;
    right: 0px;
    left: 0px;
    z-index: 100px;
}


